
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Tasks</title>
    </head>

{% load filters %}

    <body>
        <form action="/" method="GET">
          {% csrf_token %}
            <input type="submit" value="Back"/>
        </form>

        <h2>Cart</h2>

{% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cartItem in cart_items %}
                    <tr>
                        <td>{{ cartItem.item.name }}</td>
                        <td>{{ cartItem.quantity }}</td>
                        <td>{{ cartItem.item.price }}</td>
                        <td>{{ cartItem.quantity|multiply:cartItem.item.price }}</td>
                        <td>
                            <form action="/remove/" method="POST">
                                  {% csrf_token %}
                                <button name="remove">Remove</button>
                                <input type="hidden" name="id" value="{{cartItem.item.id}}"></input>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>Total:</td>
                    <td>{{ total_price }}</td>
                </tr>
            </tfoot>
        </table>

        <form action="/checkout/" method="POST">
              {% csrf_token %}
            <button name="remove">Checkout</button>
            <input type="hidden" name="id" value=""></input>
        </form>
    {% else %}
        <p>Cart is empty</p>
    {% endif %}

    </body>
</html>



