<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Home</title>
    </head>

{% load filters %}

    <body>
        <form action="/" method="GET">
          {% csrf_token %}
            <input type="submit" value="Back"/>
        </form>

        <h2>Account</h2>
        <p>Username: {{username}}</p>
        <p>Balance: {{balance}}</p>

        <h2>Orders</h2>

    {% if orders %}
        {% for order_items in orders %}

    {% if order_items %}
        <h3>Order {{order_items.order_id}}</h3>
        <p>Date: {{order_items.date}}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order_item in order_items.order_list %}
                    <tr>
                        <td>{{ order_item.item.name }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>{{ order_item.item.price }}</td>
                        <td>{{ order_item.quantity|multiply:order_item.item.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>Order total:</td>
                    <td>{{ order_items.total }}</td>
                </tr>
            </tfoot>
        </table>

    {% else %}
        <p>Order is empty</p>
    {% endif %}


        {% endfor %}

    {% else %}
        <p>No orders</p>
    {% endif %}

    </body>
</html>

